# DSCI 303 - Project 02

### Mallory Stern

# Introduction

This project will be utilizing the gapminder dataset, which contains socioeconomic data for 184 countries between the years 1800 to 2018.

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 1

print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ', year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Albania
Continent:  europe
Year:  1800
Population:  410000
Life Expectancy:  35.4
Per Capita GDP:  667
Gini Index:  38.9

# Part 1: Displaying Past 20 Years of US Data

The last 20 years of recorded data for the United States will be displayed.

In [4]:
print(f'Year    Country          Population   LExp    pcGDP    Gini')
print(f'-----------------------------------------------------------')

for i in range(len(country)):
    if year[i] >= 1999:
        if country[i] == 'United States':
            print (f'{year[i]}    {country[i]}    {population[i]}    {life_exp[i]}    {pcgdp[i]}    {gini[i]}')

Year    Country          Population   LExp    pcGDP    Gini
-----------------------------------------------------------
1999    United States    279000000    76.8    44700    40.5
2000    United States    282000000    76.9    46000    40.5
2001    United States    285000000    77.0    46000    40.5
2002    United States    288000000    77.1    46400    40.5
2003    United States    290000000    77.3    47300    40.5
2004    United States    293000000    77.5    48600    40.6
2005    United States    295000000    77.7    49800    40.7
2006    United States    298000000    77.9    50600    40.8
2007    United States    301000000    78.1    51000    40.8
2008    United States    303000000    78.3    50400    40.8
2009    United States    306000000    78.6    48600    40.7
2010    United States    309000000    78.7    49400    40.7
2011    United States    311000000    78.8    49800    40.7
2012    United States    313000000    78.9    50500    40.8
2013    United States    316000000    78.9    51000    41.0
2014    United States    318000000    78.9    51800    41.2
2015    United States    320000000    78.8    52800    41.3
2016    United States    322000000    78.8    53300    41.4
2017    United States    324000000    79.0    54200    41.5
2018    United States    327000000    79.1    54900    41.5

# Part 2: Selecting the 2018 Data

The following will create 6 new lists, which will contain only the 2018 data for all of the 184 countries.

In [5]:
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

In [6]:
for j in range(len(country)):
    if year[j] == 2018:
        country_2018.append(country[j])
        population_2018.append(population[j])
        continent_2018.append(continent[j])
        life_exp_2018.append(life_exp[j])
        pcgdp_2018.append(pcgdp[j])
        gini_2018.append(gini[j])

In [7]:
global_population_2018 = sum(population_2018)

print(f'The global population in 2018 was {global_population_2018}.')

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations

Two lists will be created with one containing countries with the largest populations and the other containing the smallest.

In [9]:
sorted_population_2018 = sorted(population_2018, reverse = True)
tenth_pop = sorted_population_2018[9]

print(f'Countries with Largest Populations in 2018')
print(f'------------------------------------------------------')

for j in range(len(country_2018)):
    if population_2018[j] >= tenth_pop:
        print(f'The population of {country_2018[j]} in 2018 was {population_2018[j]}.')

Countries with Largest Populations in 2018
------------------------------------------------------
The population of Bangladesh in 2018 was 166000000.
The population of Brazil in 2018 was 211000000.
The population of China in 2018 was 1420000000.
The population of India in 2018 was 1350000000.
The population of Indonesia in 2018 was 267000000.
The population of Mexico in 2018 was 131000000.
The population of Nigeria in 2018 was 196000000.
The population of Pakistan in 2018 was 201000000.
The population of Russia in 2018 was 144000000.
The population of United States in 2018 was 327000000.

In [10]:
tenth_low = sorted_population_2018[-10]

print(f'Countries with the Smallest Populations in 2018')
print(f'------------------------------------------------------')

for j in range(len(country_2018)):
    if population_2018[j] <= tenth_low:
        print(f'The population of {country_2018[j]} in 2018 was {population_2018[j]}.')

Countries with the Smallest Populations in 2018
------------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103000.
The population of Grenada in 2018 was 108000.
The population of Kiribati in 2018 was 118000.
The population of Micronesia, Fed. Sts. in 2018 was 106000.
The population of Samoa in 2018 was 198000.
The population of Sao Tome and Principe in 2018 was 209000.
The population of Seychelles in 2018 was 95200.
The population of St. Lucia in 2018 was 180000.
The population of St. Vincent and the Grenadines in 2018 was 110000.
The population of Tonga in 2018 was 109000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies

The following chart will display a list of countries with both the highest and lowest life expectancies in 2018.

In [22]:
sorted_life_exp_2018 = sorted(life_exp_2018, reverse = True)
tenth_life = sorted_life_exp_2018[9]

print(f'Countries with the Highest Life Expectancy in 2018')
print(f'------------------------------------------------------')


for j in range(len(country_2018)):
    if life_exp_2018[j] >= tenth_life:
        print(f'The life expectancy of {country_2018[j]} was {life_exp_2018[j]}.')

Countries with the Highest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Australia was 82.9.
The life expectancy of France was 82.6.
The life expectancy of Iceland was 82.6.
The life expectancy of Israel was 82.4.
The life expectancy of Italy was 82.6.
The life expectancy of Japan was 84.2.
The life expectancy of Luxembourg was 82.4.
The life expectancy of Norway was 82.4.
The life expectancy of Singapore was 84.0.
The life expectancy of Spain was 83.2.
The life expectancy of Sweden was 82.4.
The life expectancy of Switzerland was 83.5.

In [24]:
tenth_low_life = sorted_life_exp_2018[-10]

print(f'Countries with the Lowest Life Expectancy in 2018')
print(f'------------------------------------------------------')


for j in range(len(country_2018)):j
    if life_exp_2018[j] <= tenth_low_life:
        print(f'The life expectancy of {country_2018[j]} was {life_exp_2018[j]}.')

Countries with the Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Afghanistan was 58.7.
The life expectancy of Central African Republic was 51.6.
The life expectancy of Chad was 60.5.
The life expectancy of Guinea-Bissau was 59.7.
The life expectancy of Lesotho was 51.1.
The life expectancy of Sierra Leone was 60.0.
The life expectancy of Somalia was 58.0.
The life expectancy of Swaziland was 58.6.
The life expectancy of Zambia was 59.5.
The life expectancy of Zimbabwe was 60.2.

# Part 5: Calculating GDP by Country

The following will create a list that contains the GDP for each country as well as the entire world in 2018.

In [26]:
gdp_2018 = []

for j in range(len(country_2018)):
    gdp_2018.append(pcgdp_2018[j] * population_2018[j])

print(f'The total global GDP in 2018 was ${sum(gdp_2018)}.')

The total global GDP in 2018 was $118225647770000.

In [30]:
min_gdp = min(gdp_2018)
max_gdp = max(gdp_2018)

print(f'The country with the highest GDP in 2018 was {country_2018[gdp_2018.index(max_gdp)]} with a GDP of {max_gdp}.')
print(f'The country with the lowest GDP in 2018 was {country_2018[gdp_2018.index(min_gdp)]} with a GDP of {min_gdp}.')

The country with the highest GDP in 2018 was China with a GDP of 22720000000000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of 223020000.

# Part 6: Grouping by Continent

The following will create a chart with the calculated data of the total population, per capita GDP, and life expenctancy of four continental regions: africa, america, asia and europe.

In [66]:
continent_names = ['africa', 'americas', 'asia', 'europe']
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

for j in range(len(continent_names)):
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0
    for i in range(len(country_2018)):
        if continent_names[j] == continent_2018[i]:
            temp_life_exp += life_exp_2018[i] * population_2018[i]
            temp_pop += population_2018[i]
            temp_gdp += gdp_2018[i] 
    temp_life_exp = temp_life_exp / temp_pop
    temp_gdp = temp_gdp / temp_pop
    pcgdp_2018_by_continent.append(round(temp_gdp))
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(round(temp_life_exp, 1))
    
print(f'Continent    Population      pcGDP    Life Exp')
print(f'----------------------------------------------')
print(f'{continent_names[0].title():<11}{pop_2018_by_continent[0]:>12}{pcgdp_2018_by_continent[0]:>11}{life_exp_2018_by_continent[0]:>12}')
print(f'{continent_names[1].title():<11}{pop_2018_by_continent[1]:>12}{pcgdp_2018_by_continent[1]:>11}{life_exp_2018_by_continent[1]:>12}')
print(f'{continent_names[2].title():<11}{pop_2018_by_continent[2]:>12}{pcgdp_2018_by_continent[2]:>11}{life_exp_2018_by_continent[2]:>12}')
print(f'{continent_names[3].title():<11}{pop_2018_by_continent[3]:>12}{pcgdp_2018_by_continent[3]:>11}{life_exp_2018_by_continent[3]:>12}')

Continent    Population      pcGDP    Life Exp
----------------------------------------------
Africa       1287150200       4700        65.9
Americas     1010978000      28708        77.5
Asia         4455113000      12705        73.2
Europe        841959000      31534        78.4